.square {
    width: 75px;
    height: 75px;
    /* justify-content: center; 
    display: flex;  */
    /* position:relative; */
    /* position: relative; */
}

.white-square {
    background-color: #FFFDD0;
    /* position:relative; */
}

/* .potential-white-square {
    background-color: #FFFDD0
}

.potential-black-square {
    background-color: #691D1D;  
    
} */

/* .potentialMove {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: 20px;
    z-index: 10;
    position: relative;
    top: 50%;
    left: 50%;
     padding-left: 10px;
    }  */
/* .potentialMove {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
}    */

.potentialMove {
    height: 35px;
    width: 35px;
    background-color: rgb(20, 144, 189);
    border-radius: 50%;
    margin: 20px;
    opacity: 0.6;
    position: absolute;
  }

/* .square .potentialMove {
   background-color: #020212;
   opacity: 0.5;
   z-index: 0;
} */

.black-square {
    background-color: #691D1D;  
}

.square .chess-piece-white {
    position: absolute;
    width: 75px;
    height: 75px;   
    /* z-index: 5; */
}
/* 
.square .chess-piece-white {
    width: 15px;
    height: 75px;   
    margin: -20px; 
} */

.square .chess-piece-white:hover {
    cursor : grab;
}

.square .chess-piece-white:active {
    cursor : grabbing;
}

.square .chess-piece-black {
    width: 75px;
    height: 75px;
}



.square .chess-piece-black:hover {
    cursor : grab;
}

.square .chess-piece-black:active {
    cursor : grabbing;
}

.square .chess-piece {
    width: 75px;
    height: 75px;
}

.square .chess-piece:hover {
    cursor : grab;
}

.square .chess-piece:active {
    cursor : grabbing;
}

