.player {
    margin: 1em 0 5px 0;
    display: flex;
    flex-direction: column;
}

.player__tile {
    width: 100%;
    height: 100;
    display: flex;
    margin: 0 auto;
    color: #000000;
    max-width: 200px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: inset 3px 3px 0 #000, 
                inset -3px 3px 0 black, 
                inset -3px -3px 0 black, 
                inset 3px -3px 0 black;
}

.player-2 {
    color: #FFFFFF;
    margin-top: 5px;
    background-color: #2D2C2C;
}

.player__digits {
    font-size: 4rem;
    font-weight: bold;
}

.player__digits span[id^= "ms1"] {
    font-size: 2rem;    
}